@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-image: url("./image/background-img.jpeg");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    width: 100%;
    background-size: cover;
}

/* ===================================START NAVBAR=================================== */

body {
    background-image: url(./image/bundle-bg.jfif);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 100vh;
    position: relative;
    background: rgb(104, 104, 248);
}

nav {
    align-self: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96vw;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0.5rem 0;
    margin-top: 0;
}

.navbar i {
    display: none;
}

.navbar img {
    background: transparent;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-self: center;
}

.navIcons {
    display: flex;
    gap: 1.5rem;
}

.navIcons a:after {
    content: "";
    width: 0;
    height: 3px;
    background: blue;
    display: block;
    transition: all 0.3s ease;
    margin: auto;
    margin-top: 0.5rem;
}

.navIcons a:hover:after {
    color: rgb(217, 226, 235);
    width: 100%;
}

/* ===================================START MAIN=================================== */

main {
    position: absolute;
    top: 5rem;
}

main .photo {
    display: flex;
    justify-content: center;
}

main .photo img{
    width: 20rem;
    background: transparent;
    box-shadow: 0 1rem 1rem rgb(158, 134, 182);
    border: 0;
    border-radius: 6rem;
}

.middleText {
    width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
    margin-top: 10rem;
}

.middleText .container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* ===================================START OUR PRODUCTS=================================== */

.ourProductsHeader {
    text-align: center;
    margin-top: 8rem;
}

.ourProductsBundles {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    margin: auto;
    gap: 2rem;
}

.ourProductBundle h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.ourProductBundle img {
    height: 200px;
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    transition: 0.5s;
}


.ourProductBundle img:hover{
    box-shadow: 0 0 1rem 1rem rgb(144, 121, 121);
    cursor: pointer;
}

/* ===================================START FOOTER=================================== */

footer{
    text-align: center;
    margin-top: 2rem;
}

footer h3 {
    font-weight: 600;
    margin-bottom: 1.5rem;
}

footer p {
    font-weight: 300;
}

.socialMedia i {
    margin: 1.5rem;
    font-size: 3rem;
    cursor: pointer;
}

.fa-square-facebook {
    color: blue;
}

.fa-square-twitter{
    color: #38A4E7;
}

.fa-square-instagram{
    background-image: white;
    color: rgb(221, 40, 40);
}
.fa-youtube {
    color: red;
}

/* ===================================START ABOUT US PAGE=================================== */

.AboutUsHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.AboutUsheader {
    background-image: url("./image/background-img.jpeg");
    background-repeat: no-repeat;
    height: 50vh;
    background-position: center;
    width: 100%;
    background-size: cover;
}

.aboutUsSection {
    width: 80%;
    margin: auto;
    margin-top: 7rem;
    display: flex;
    gap: 5rem;
    flex-direction: row;
    justify-content: space-between;
}

.aboutUsText h1 {
    margin-bottom: 2rem;
}

.aboutUsText,.aboutUsPhoto{
    width: 50%;
}

.aboutUsPhoto img {
    width: 100%;
}

/* ===================================START PRODUCT DETAILS =================================== */
.ProductDetailsSectionHeader {
    text-align: center;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
    width: 80%;
    background: rgb(61, 175, 207);
    color: white;
    padding: 10px;
}

.detailBundles {
    width: 90%;
    margin: auto;
}

.detailBundle{
    width: 90%;
    margin: auto;
    background: rgb(184, 127, 127);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 0 0 0.5rem 0 rgb(106, 102, 102);
}

.detailBundLeft{
    width: 50%;
}

.detailBundLeft h2 {
    margin-bottom: 1rem;
    text-align: center;
    color: #4819e3;
}

.detailBundLeft img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.detailBundleRight table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
}


/* ===================================START CONTACT US PAGE =================================== */

.contactUsSection {
    width: 80%;
    margin: auto;
    margin-top: 7rem;
}

.contactUsSection .location iframe {
    width: 100%;
    margin-bottom: 7rem;
}

.contactUsForm{
    width: 100%;
    padding: 2rem;
    margin: auto;
    background-image: url("./image/contact-bg.jpg");
    position: relative;

}

.contactUsForm {
    width: 100%;
}

.customerInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.customerInfo input{
    width: 49%;
    padding: 0.6rem;
    outline: none;
    border: none;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.contactUsForm textarea {
    padding: 0.6rem;
    width: 100%;
    outline: none;
    border: none;
}

.cusName {
    margin-right: 0.5rem;
}

.submitBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.contactUsSection button {
    background: green;
    border-radius: 4px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
}

.contactInfo {
    margin-top: 3rem;
}

.contactInfo div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contactInfo i {
    margin-right: 10px;
    color: red;
}

.ygn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start !important;
    margin-bottom: 7px !important;
}

/* ===================================START SPECIAL PRODUCTS PAGE=================================== */

.specialProductsContainer h2 {
    width: 100%;
    text-align: center;
    margin-top: 7rem;
    color: #4819e3;
    margin-bottom: 3rem;
}

.Sprow {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 1rem;
    gap: 3rem;
}

.Spcolumn {
    width: 50%;
}

.Spcolumn img {
    width: 100%;
    margin-bottom: 3rem;
    border-radius: 5px;
    box-shadow: 0 0 1rem 0.3rem #97b1c0;
}

.Spcolumn h4 {
    color: red;
}

/* for countdown */
.countdown {
    margin-top: 1.5rem;
}

.countdown h1 {
    display: inline;
}

.countdown p {
    display: inline;
    font-size: 20px;
    }

.timeBackground{
    background: red;
    padding: 10px;
    border-radius: 50%;
    color: honeydew;
}



/* ===================================START MEDIA FOR TABLETS=================================== */

@media screen and ( max-width:1020px) {

    .navbar i {
        display: inline;
        cursor: pointer;
        font-size: 1.5rem;
        color: white;
    }

    .navIcons {
        position: fixed;
        background: #f61403;
        height: 100vh;
        width: 220px;
        top: 0;
        right: -220px;
        z-index: 2;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 10px;
        transition: 0.5s;
    }

    .navIcons a{
        margin-left: 30%;
        transition: 0.5s;
    }

    .navIcons a:hover{
        margin-left: 20px;
    }

    .navIcons a::after {
        content: "";
        width: 200;
        height: 0px;
        background: blue;
        transition: all 0.3s ease;
        margin-top: 0.5rem;
    }

    .navbar{
        padding: 1rem 2rem;
    }

    .detailBundle {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        }   

    .detailBundLeft{
        width: 80%;
        margin: auto;
    }

    .detailBundLeft p {
        text-align: center;
    }

    .Sprow {
        flex-direction: column;
    }

    .Spcolumn {
        width: 100%;
    }

    .Spcolumn iframe {
        width: 100%;
    }


}

/* ===================================START MEDIA FOR PHONE =================================== */

@media screen and (max-width:700px) {
    .middleText .container h1{
        font-size: 1.5rem;
    }

    .middleText .container h3{
        font-size: 1rem;
    }

    .middleText .container p{
        font-size: 0.7rem;
    }

    .ourProductsBundles {
        display: flex;
        flex-direction: column;
    }

    .aboutUsSection {
        display: flex;
        flex-direction: column;
    }

    .aboutUsText, .aboutUsPhoto {
        width: 100%;
    }

    .detailBundle {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        }

    .detailBundLeft , .detailBundleRight{
        width: 100%;
    }

    .customerInfo {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .contactUsForm textarea {
        margin-top: 1rem;
    }

    .customerInfo input{
        width: 100%;
        margin-bottom: 0;
        margin-top: 1rem;
    }

    

}



